<header class='header-wrapper'>
  <div class='header'>
    <div class='section-inner'>
      <a href='/' class='site-logo-link' rel='home' itemprop='url'></a>
      <h2 class='site-title'>
        <a
          href='/react'
          title='Rowling — Rowling is a clean, simple and elegant magazine theme for WordPress'
          rel='home'>Rowling</a
        >
      </h2>

      <h4 class='site-description'>
        Rowling is a clean, simple and elegant magazine theme for WordPress
      </h4>

      <div class='nav-toggle'>
        <div class='bars'>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
        </div>
      </div>
      <!-- /nav-toggle -->
    </div>
    <!-- /section-inner -->
  </div>
  <!-- /header -->

  <nav class='navigation'>
    <div class='section-inner clear-fix'>
      <ul class='header-bottom-menu'>
        <li
          id='menu-item-126'
          class='menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-126'
        >
          <a href='/'>Home</a>
        </li>
        <li
          id='menu-item-141'
          class='menu-item menu-item-type-taxonomy menu-item-object-category menu-item-141'
        >
          <a href='/photos'>Photos</a>
        </li>
        <li
          id='menu-item-142'
          class='menu-item menu-item-type-taxonomy menu-item-object-category menu-item-142'
        >
          <a href='/react'>React</a>
        </li>
        <li
          id='menu-item-127'
          class='menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-127'
        >
          <a href='/a-parent-page/?demo'>A Parent Page</a>
          <ul class='sub-menu'>
            <li
              id='menu-item-128'
              class='menu-item menu-item-type-post_type menu-item-object-page menu-item-128'
            >
              <a href='/a-parent-page/first-child/?demo'>First Child</a>
            </li>
            <li
              id='menu-item-130'
              class='menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-130'
            >
              <a href='/a-parent-page/second-child/?demo'>Second Child</a>
              <ul class='sub-menu'>
                <li
                  id='menu-item-131'
                  class='menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-131'
                >
                  <a href='/a-parent-page/second-child/a-grandchild-page/?demo'
                    >A Grandchild Page</a
                  >
                  <ul class='sub-menu'>
                    <li
                      id='menu-item-134'
                      class='menu-item menu-item-type-post_type menu-item-object-page menu-item-134'
                    >
                      <a
                        href='/a-parent-page/second-child/another-grandchild-page/a-wee-little-baby-page/?demo'
                        >A Wee Little Baby Page</a
                      >
                    </li>
                  </ul>
                </li>
                <li
                  id='menu-item-132'
                  class='menu-item menu-item-type-post_type menu-item-object-page menu-item-132'
                >
                  <a
                    href='/a-parent-page/second-child/a-spoiled-grandchild-page/?demo'
                    >A Spoiled Grandchild Page</a
                  >
                </li>
                <li
                  id='menu-item-133'
                  class='menu-item menu-item-type-post_type menu-item-object-page menu-item-133'
                >
                  <a
                    href='/a-parent-page/second-child/another-grandchild-page/?demo'
                    >Another Grandchild Page</a
                  >
                </li>
              </ul>
            </li>
            <li
              id='menu-item-135'
              class='menu-item menu-item-type-post_type menu-item-object-page menu-item-135'
            >
              <a href='/a-parent-page/third-child/?demo'>Third Child</a>
            </li>
            <li
              id='menu-item-129'
              class='menu-item menu-item-type-post_type menu-item-object-page menu-item-129'
            >
              <a href='/a-parent-page/fourth-child/?demo'>Fourth Child</a>
            </li>
          </ul>
        </li>
        <li
          id='menu-item-139'
          class='menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-139'
        >
          <a href='/wordpress/?demo'>WordPress</a>
          <ul class='sub-menu'>
            <li
              id='menu-item-136'
              class='menu-item menu-item-type-post_type menu-item-object-page menu-item-136'
            >
              <a href='/html-elements/?demo'>HTML Elements</a>
            </li>
            <li
              id='menu-item-137'
              class='menu-item menu-item-type-post_type menu-item-object-page menu-item-137'
            >
              <a href='/image-alignment-and-styles/?demo'
                >Image Alignment and Styles</a
              >
            </li>
            <li
              id='menu-item-138'
              class='menu-item menu-item-type-post_type menu-item-object-page menu-item-138'
            >
              <a href='/readability/?demo'>Readability</a>
            </li>
          </ul>
        </li>
        <li
          id='menu-item-140'
          class='menu-item menu-item-type-taxonomy menu-item-object-category menu-item-140'
        >
          <a href='/category/writing/?demo'>Writing</a>
        </li>
      </ul>
    </div><!-- /header-bottom-menu -->
  </nav>
  <!-- /navigation -->
</header>
