<div class='search-container'>
  <div class='section-inner'>
    <form
      method='get'
      class='search-form'
      action='https://rowlingdemo.wordpress.com/'
    >
      <label>
        <span class='screen-reader-text'>Search for:</span>
        <input
          type='search'
          class='search-field'
          placeholder='Search'
          value=''
          name='s'
          title='Search for:'
        />
      </label>
      <button type='submit' class='search-button'
        ><span class='fa fw fa-search'></span><span class='screen-reader-text'
          >Search</span
        ></button
      >
    </form>
  </div>
  <!-- /section-inner -->
</div>
